@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@font-face {
  font-family: Incosolata;
  src: url(/fonts/Inconsolata-VariableFont_wdth,wght.ttf);
}

html{
  scroll-behavior: smooth;
}

:root {
  /* Neutres */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  /* Oranges */
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  /* Dégradé */
  --gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

body{
  font-family: Incosolata;
  background-image: url(./assets/background-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overscroll-behavior: none;
  height: fit-content;
}

header{
  user-select: none;
}
  
h3{
  font-family: Incosolata;
  font-size:1rem;
  font-weight: 300;
}